@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
ul{
  list-style: none;
}
.wrapper{
  width: 100%;
  height: 100%;
}

.top_navbar{
  background: #80CBC4;
  height: 60px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
}

.top_navbar .hamburger{
  width: 80px;
  background: #004D40;
  position: relative;
  font-size: 28px;
}

.top_navbar .hamburger .hamburger__inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  width: 40px;
  height: 20px;
}

.top_navbar .hamburger__inner > div{
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.top_navbar .hamburger div.two{
  top: 10px;
  width: 40px;
}

.top_navbar .hamburger div.three{
  top: 20px;
}

.top_navbar .menu{
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.top_navbar .menu .logo{
  color: #004D40;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.top_navbar .menu .right_menu ul{
  display: flex;
}

.top_navbar .menu .right_menu ul li{
  position: relative;
}

.top_navbar .menu .right_menu ul li .fas{
  font-size: 22px;
  cursor: pointer;
  color: #004D40;
}

.top_navbar .menu .right_menu ul li .profile_dd{
  position: absolute;
  top: 35px;
  right: -10px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px 0;
  width: 180px;
  border-radius: 3px;
  display: none;
  user-select: none;
}

.top_navbar .menu .right_menu ul li .profile_dd.active{
  display: block;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item{
  padding: 10px;
  cursor: pointer;
  color: #004D40;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item:hover{
  background: #E0F2F1;
}

.top_navbar .menu .right_menu ul li .profile_dd:before{
  content: "";
  position: absolute;
  top: -20px;
  right: 10px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.main_container .sidebar{
  position: fixed;
  top: 60px;
  left: 0;
  width: 225px;
  height: 100%;
  background: #004D40;
  transition: all 0.3s ease;
}

.main_container .sidebar .sidebar__inner{
  position: relative;
}

.main_container .sidebar .profile{
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20px 0;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.main_container .sidebar .profile .img{
  padding: 0 18px;
}

.main_container .sidebar .profile img{
  width: 45px;
}

.main_container .sidebar .profile p:first-child{
  font-size: 14px;
  color: #80CBC4;
  margin-bottom: 3px;
}

.main_container .container{
  margin-top: 60px;
  width: calc(100% - 225px);
  margin-left: 225px;
  padding: 30px;
  transition: all 0.3s ease;
}

.main_container .sidebar ul li a{
  color: #fff;
  font-size: 18px;
  padding: 20px 30px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  transition: all 0.3s ease;
}

.main_container .sidebar ul li a .icon{
  margin-right: 15px;
  font-size: 28px;
}

.main_container .sidebar ul li a span{
  display: inline-block;
}

.main_container .sidebar ul li a:hover,
.main_container .sidebar ul li a.active{
  background: #fff;
  color: #004D40;
}

.main_container .container .item{
  background: #fff;
  border: 1px solid #E0F2F1;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
}

/* after adding active class */
.wrapper.active .sidebar{
  width: 80px;
}

.wrapper.active .sidebar ul li a span.title,
.wrapper.active .profile_info
{
  display: none;
}

.wrapper.active .main_container .container{
  width: calc(100% - 80px);
  margin-left: 80px;
}
.main_container{
  /* position: absolute; */
}
.container{
  display: none;
  position: relative;
}
.home{
  display: block;
}
table, th, td{
  border: 3px solid black;
}
table{
  position: absolute;
  width: calc(100% - 80px);
}
table th, td{
  height: 80px;
}
th, td{
  width: calc(100%/12);
  text-align: center;
}
.outlay h2{
  text-align: center;
  font-size: 32px;
  letter-spacing: 5px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.outlay table{
  margin-top: calc(12%);
}
.outlay hr{
  margin-top: 50px;
  font-size: 32px;
  
}
.home .textarea-content{
  width: 98%;
  height: 150px;
  font-size: 18px;
}
.share-box{
  position: relative;
  width: 98%;
  height: 200px;
  /* border: 2px solid black; */
  border-radius: 5px;
}

.textarea .share, .replay{
  /* position: absolute; */
  width: 180px;
  height: 40px;
  background-color: #004D40;
  color: #fff;
  border-radius: 5px;
  left: calc(50% - 90px);
  top: calc(100% - 40px);
  /* top: 100%; */
}
.textarea .share:hover{
  background-color: #066e5d;
}
.replay:hover{
  background-color: #066e5d;
}
.textarea-title{
height: 30px;
}
.share-box input{
  padding-left: 20px;
  width: 98%;
  height: 40px;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
}
.content-box{
  position: relative;
  margin-top: 80px;
}
.post{
  border: 3px solid black;
  min-height: 150px;
  width: 98%;
  margin-bottom: 10px;
}
.post h2{
  padding-left: 10px;
  padding: 10px;
}
.post .line{
  width: 200px;
  border-top: 3px solid black;
  margin: 10px 0px;
  
}
.post .content{
  padding: 5px;
}
.wrapper .top_navbar .menu{
  z-index: 1000;
  
}
.error::placeholder{
  color: red;
}
::placeholder{
  letter-spacing: 2px;
}
.comment-box{
  position: relative;
  width: 100%;
}
.comment{
  width: 67%;
  height: 50px;
  font-size: 18px;
}
.replay{
  position: absolute;
  top: 11%;
  left: calc(100% - 200px);
}
ol{
  margin-left: 50px;
}
ol li{
  margin: 10px;
  padding: 10px;
  width: 100%;
  background-color: #7eb7f8;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
._1{
  background-color: green;
  color: whitesmoke;
  border-radius: 20%;
}
.one{
  border-radius: 100%;
  color: rgb(234, 135, 135);
  background-color: rgb(74, 3, 3);
}
.parent{
  display: flex;
  width: 100%;
}
.parent div{
  width: calc(100% / 3);
  text-align: center;
  padding: 25px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 50px;
}
.one1{
  background-color: #066e5d;
}
.one1:hover{
  background-color: #218776;
}
.two{
  background-color: rgb(76, 76, 161);
}
.two:hover{
  background-color: rgb(62, 62, 233);
}
.three{
  background-color: rgb(6, 6, 43);
}
.three:hover{
  background-color: rgb(27, 27, 95);
}
.lvl{
  display: none;
}
.exames ul li{
  padding: 5px;
  margin-bottom: 8px;
  border-bottom: 2px solid white;
  
}

.exames ul li:hover{
  color: rgb(215, 39, 62);
}
.ex{
  /* display: none; */
  visibility: hidden;
}